In [10]:
li=[2,3,4,6,7,8,4,6]
print(li[::-2])
print(li[-4:-1])

[6, 8, 6, 3]
[7, 8, 4]

In [29]:
li=["python",3,2,1]
li[1]="hi"
print(li)

['python', 'hi', 2, 1]

In [30]:
del li[1]
print(li)

['python', 2, 1]

In [35]:
len(li)
print(li*2)

['python', 2, 1, 'python', 2, 1]

In [36]:
print(2 in li)

True

In [42]:
for i in li:
    print(i)

python
2
1

In [63]:
li.append(3)
print(li)
li.count(3)

['python', 2, 1, 3, 3]

2

In [65]:
li.pop()
print(li)

['python', 2, 1, 3]

In [69]:
li.count(3)
l=[1,4,2,3]
l.sort()
print(l)

[1, 2, 3, 4]

In [74]:
li.extend(l)
print(li)

['python', 2, 1, 3, [1, 2, 3, 4], [1, 2, 3, 4], 1, 2, 3, 4, 1, 2, 3, 4]

In [79]:
#write a program to return largest element from list
li=[1,3,361,722,4324,634]
li.append(int(input()))
print(li)
print(max(li))

23545
[1, 3, 361, 722, 4324, 634, 23545]
23545