# jupyter markdown

###### abhi
##### abhi
#### abhi
### abhi
## abhi
# abhi

- abhi
    - sub abhi

*abhi*
**abhi**

### Python Introducction
   - python 3
   - python can be used as scripting language
   - python can be used as functional programming language
   - introduced in the year of 1981

In [22]:
print("abhishek",end=" ")
print("manyam")

abhishek manyam

In [23]:
print("enter your name")
a=input()
print("your name is ",a)

enter your name
abhi
your name is  abhi

In [ ]:
## variables
- variables are also called as identifiers
- var name always start with alphabets
- does not start with any speacial charecter excpt _
- does not start with numbers

## Fundamental data types in python:
- int 
- float
- complex 
- boolean
- string

In [30]:
c= 2 + 2j
type(c)

complex

In [33]:
a=10
int(a)
complex(a)

(10+0j)

In [34]:
complex(3,4)

(3+4j)

In [35]:
x=False
type(x)

bool

In [41]:
a="abhi"
type(a)

str

In [54]:
a=1234
b=str(a)
len(b)

4

In [58]:
a=50
b=bin(a)
print(b)

0b110010

# operators:
## arithmetic operators
- //(floor division)
- ** (exponent,power)

In [59]:
125//3

41

In [60]:
125**45

22958874039497802890014385492621985894895811655704834404467806763250337098725140094757080078125

## Logical operators:
- and 
- or
- not

In [68]:
x=int(input("enter a number"))

print(not(x>10 and x> 12))

enter a number122
False

# membership operator:
- in 
- not in

In [1]:
a="python"
print('n' in a)

True

# Conditional statements:
- if
- if else
- elif

In [5]:
k = int(input())
if k > 0:
    print(k)
else:
    print("good boy")

0
good boy

In [9]:
a = int(input("enter a number"))

if a%3==0 and a%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number130
not divisible

In [1]:
a = int(input("enter a number"))
if a<0:
    print("negative ")
elif a>0:
    print("positive")
else:
    print("equal to zero")

enter a number-1
negative

In [5]:
a = int(input("enter year"))
if (a%4==0 and a%100!=0) or a%400==0:
    print('it is a leap year')
else:
    print('it is not a leap year')

enter year2016
it is a leap year

In [1]:
a=20
while a>10:
    print(a)
    a=a-1

20
19
18
17
16
15
14
13
12
11